<footer class="footer py-5xl py-xl-sm">
        <div class="container-lg">
            <div class="d-flex align-items-center line-b pb-l mb-xl flex-direction-column-sm align-items-start-sm">
                <a href="./index.html"><img class="logo" src="../assets/images/logo.svg" alt="logo"></a>
                <ul class="footer-menu d-flex ms-auto align-items-center flex-direction-column-sm mx-s-sm">
                    <li class="me-2xl me-0-sm mb-xxs-sm"><a class="py-s" href="./all_products.html">商品列表</a>
                    </li>
                    <li><a class="py-s" href="./about.html">品牌故事</a></li>
                </ul>
            </div>
        </div>
        <div class=" font-p-sm">
            <p>Copyright ©2025 URBNSTYLE</p>
            <p>All Rights Reserved.</p>
        </div>
</footer>