<nav class="nav">
        <div class="container-lg">
            <div class="py-m d-flex align-items-center">
                <div class="logo"><a class="invisible-text" href="javascript:;">URBNSTEP</a></div>
                <ul class="nav-menu font-label-md d-flex">
                    <li><a class="nav-menu-link" href="./all_products.html">商品列表</a></li>
                    <li><a class="nav-menu-link" href="./about.html">品牌故事</a></li>
                </ul>
                <div class="ms-auto log-in ">
                    <button type="button" class="btn"><i class="bi bi-person font-label-md"></i></button>
                </div>
            </div>
        </div>
        <!-- 手機 nav -->
        <ul class="nav-menu-mobile d-flex font-label-md">
            <li class="w-100"><a class="w-100 py-s" href="./all_products.html">商品列表</a></li>
            <li class="w-100"><a class="w-100 py-s active" href="./about.html">品牌故事</a></li>
        </ul>
    </nav>