/* navigation */
.nav a{
    color: $color-neutral-900;
}
.log-in .btn{
    padding: 0;
}
.log-in i{
    padding: 15px;
}
.logo{
    margin-right: 48px;
}
.logo a{
    background: url(../assets/images/logo.svg) no-repeat;
    width: 129px;
    height: 46px;
}
/* 隱藏文字 */
.invisible-text{
    text-indent: 101%;
    overflow: hidden;
    text-wrap: nowrap;
}
.nav-menu-link{
    padding: 12px 20px;
}

.nav-menu-mobile{
display: none;
}
.nav-menu-mobile a{
    text-align: center; 
    background-color: $color-primary-100;
}
.nav-menu-mobile .active{
    background-color: $color-primary-200;
}
@media (max-width: 768px) {
    .nav-top{
        padding: 12px;
    }
    .nav-menu{
        display: none;
    }
    .nav-menu-mobile{
        display: flex;
    }
}