//新品上市
@media(max-width:767px) {
  .row-6px-md {
    margin-left: -6px;
    margin-right: -6px;
  }

  .col-6-md {
    width: 50%;
    padding-left: 6px;
    padding-right: 6px;
  }
}

// 熱銷補貨
.product-tag {
  position: relative;

  &:hover img{
    opacity: 0.7;
  }

  .product-tag-text {
    position: absolute;
    left: 0;
    top: 0;
    padding: 8px 12px;
  }
}

@media(max-width:767px) {
  .product-tag-row-md {
    margin-left: -8px;
    margin-right: -8px;
  }

  .product-tag-col-md {
    // 圖片最小寬是300px+間距16
    min-width: 316px;
    padding-left: 8px;
    padding-right: 8px;
  }

}

// banner
.banner-index {
  background-image: url(../assets/images/index/banner.png);
  height: calc(100vh - 80px);
  padding-left: 200px;

  .display1 {
    padding-top: calc((100vh - 80px) / 3.5);
  }
}

.banner-co-branded {
  background-image: url(../assets/images/index/banner-co-branded.png);
  padding: 100px 0;
  position: relative;

  // banner 圖片定位
  .star-img {
    position: absolute;
    width: 48px;
    top: 68px;
    // 計算距離中心多遠
    // 文字寬634px/2 + 間距32 + 圖48px
    left: calc(50% - 397px);
  }

  .sparkle-img {
    position: absolute;
    width: 76px;
    bottom: 132px;
    // 計算距離中心多遠
    // 文字寬634px/2 + 圖超出40px
    right: calc(50% - 357px);
  }
}

@media(max-width:767px) {
  .banner-index {
    background-image: url(../assets/images/index/banner-sm.png);
    height: calc(100vh - 120px);
    padding-left: 24px;

    .display1 {
      padding-top: calc((100vh - 120px) / 3.5);
    }
  }

  .banner-co-branded {
    background-image: url(../assets/images/index/banner-co-branded-sm.png);
    // 定位圖片超出去要隱藏(避免出現x軸)
    overflow: hidden;

    .star-img {
      top: 32px;
      left: -20px;
    }

    .sparkle-img {
      bottom: 104px;
      right: -28px;
    }
  }
}

.mask-card {
  a {
    position: relative;
  }

  .mask-text {
    background-color: rgb(#000, 0.4);
    color: $color-neutral-0;
    position: absolute;
    // 整張都要黑底 mask，定位都用 0
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &:hover .mask-text .h3{
    color: $color-primary-300;
  }
}

.inspiration {

  .inspiration-row {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;

    .col-4,
    .col-6,
    .col-12 {
      padding: 4px;
      overflow: hidden;
    }
    img:hover{
      transform: scale(1.2);
      transition: all .5s ease;
    }

  }
}