<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URBNSTEP</title>
</head>

<body>
    <!--給vite看的ejs語法： 路徑從根目錄開始、省略檔案類型.ejs (只有前面要dash) -->
    <%- include('./layout/nav-index'); -%>

        <header class="header banner banner-index">
            <h1 class="mb-m display1 mb-xs-md display2-md color-neutral-0">URBNSTEP</h1>
            <h3 class="mb-3xl h3 mb-2xl-md h5-md color-neutral-0">Your Step, Your Statement</h3>
            <button class="btn btn-primary-filled" type="button">立即選購</button>
        </header>
        <main class="main">
            <section class="container-lg py-5xl py-2xl-md">
                <div class="text-align-center">
                    <h2 class="display2 h2-md mb-s mb-xs-md">New Arrival</h2>
                    <h2 class="h2 h4-md mb-xl mb-l-md">新品上市</h2>
                </div>
                <ul class="row row-6px-md">
                    <li class="col-6 col-6-md mb-2xl mb-l-md">
                        <div class="card card-product"><a href="javascript:;">
                                <img class="mb-s" src="../assets/images/index/new-1.png" alt="Monoverse">
                                <h5 class="h5 mb-xxs">Monoverse</h5>
                                <p class="font-label-md">NT$3,600</p>
                            </a></div>
                    </li>
                    <li class="col-6 col-6-md mb-2xl mb-l-md">
                        <div class="card card-product"><a href="./platform404.html">
                                <img class="mb-s" src="../assets/images/index/new-2.png" alt="PLATFORM 404">
                                <h5 class="h5 mb-xxs">PLATFORM 404</h5>
                                <p class="font-label-md">NT$2,600</p>
                            </a></div>
                    </li>
                    <li class="col-6 col-6-md mb-2xl mb-l-md">
                        <div class="card card-product"><a href="javascript:;">
                                <img class="mb-s" src="../assets/images/index/new-3.png" alt="URBN Force">
                                <h5 class="h5 mb-xxs">URBN Force</h5>
                                <p class="font-label-md">NT$3,200</p>
                            </a></div>
                    </li>
                    <li class="col-6 col-6-md mb-2xl mb-l-md">
                        <div class="card card-product"><a href="javascript:;">
                                <img class="mb-s" src="../assets/images/index/new-4.png" alt="Mode90">
                                <h5 class="h5 mb-xxs">Mode90</h5>
                                <p class="font-label-md">NT$4,000</p>
                            </a></div>
                    </li>
                </ul>
            </section>
            <section class="container-lg py-5xl py-2xl-md">
                <h2 class="h2 h4-md mb-m">熱銷補貨</h2>
                <!-- 【手機板】外層用overflow-x來設置x卷軸 -->
                <ul class="row overflow-x-auto-md flex-nowrap-md product-tag-row-md">
                    <!-- 【手機板】圖片設定最小寬度(圖寬+間距) -->
                    <li class="col-3 product-tag-col-md">
                        <!-- tag 相對定位 -->
                        <a class="product-tag color-primary-400">
                            <!-- tag  絕對定位 -->
                            <p class="p-label-sm product-tag-text bg-color-primary-100">人氣 No.1</p>
                            <div class="card card-hot-product"><img src="../assets/images/products/product-3.png"
                                    alt="熱銷商品"></div>
                        </a>
                    </li>
                    <li class="col-3 product-tag-col-md">
                        <a class="product-tag color-primary-400">
                            <p class="p-label-sm product-tag-text bg-color-primary-100">人氣 No.1</p>
                            <div class="card card-hot-product"><img src="../assets/images/products/product.png"
                                    alt="熱銷商品"></div>
                        </a>
                    </li>
                    <li class="col-3 product-tag-col-md">
                        <a class="product-tag color-primary-400">
                            <p class="p-label-sm product-tag-text bg-color-primary-100">人氣 No.1</p>
                            <div class="card card-hot-product"><img src="../assets/images/products/product-6.png"
                                    alt="熱銷商品"></div>
                        </a>
                    </li>
                    <li class="col-3 product-tag-col-md">
                        <a class="product-tag color-primary-400">
                            <p class="p-label-sm product-tag-text bg-color-primary-100">人氣 No.1</p>
                            <div class="card card-hot-product"><img src="../assets/images/products/product-4.png"
                                    alt="熱銷商品"></div>
                        </a>
                    </li>

                </ul>
            </section>
            <section class="banner banner-co-branded mx-auto color-neutral-0 text-align-center py-3xl py-l-md">
                <h3 class="d-flex mb-m justify-content-center flex-direction-column-md">
                    <span class="display2">URBNSTEP</span>
                    <span class="h1 color-primary-300 mx-l my-xs-md">x</span>
                    <span class="display2">Kevin Chen</span>
                </h3>
                <h4 class="h2 h4-md mb-xl">跨界聯名，限量發售</h4>
                <p
                    class="d-flex justify-content-center mb-3xl mb-xl-mb font-p-lg color-neutral-500 flex-direction-column-md">
                    <span class="mb-xxs-md">新銳漫畫家 Kevin Chen 親自操刀設計</span>
                    <span class="d-none-md">，</span>
                    <span>街頭能量全面引爆！</span>
                </p>
                <button type="button" class="btn btn-primary-filled">立即搶購</button>
                <img class="star-img" src="../assets/images/index/star.svg" alt="star">
                <img class="sparkle-img" src="../assets/images/index/sparkle.svg" alt="sparkle">
            </section>
            <section class="container-lg py-5xl py-2xl-md">
                <h2 class="h2 h4-md mb-m">依系列選購</h2>
                <ul class="row row-6px-md">
                    <li class="col-3 col-6-md mb-2xl mb-l-md">
                        <div class="mask-card"><a href="javascript:;">
                                <img class="" src="../assets/images/products/product-6.png" alt="URBN RUNNER">
                                <div class="mask-text">
                                    <h3 class="h3 h6-md mb-xs">URBN RUNNER</h3>
                                    <h4 class="h4 h6-md">慢跑系列</h4>
                                </div>
                            </a></div>
                    </li>
                    <li class="col-3 col-6-md mb-2xl mb-l-md">
                        <div class="mask-card"><a href="javascript:;">
                                <img class="" src="../assets/images/products/product-11.png" alt="STREETMODE">
                                <div class="mask-text">
                                    <h3 class="h3 h6-md mb-xs">STREETMODE</h3>
                                    <h4 class="h4 h6-md">滑板系列</h4>
                                </div>
                            </a></div>
                    </li>
                    <li class="col-3 col-6-md mb-2xl mb-l-md">
                        <div class="mask-card"><a href="javascript:;">
                                <img class="" src="../assets/images/products/product-4.png" alt="CHUNK DISTRICT">
                                <div class="mask-text">
                                    <h3 class="h3 h6-md mb-xs">CHUNK DISTRICT</h3>
                                    <h4 class="h4 h6-md">厚底系列</h4>
                                </div>
                            </a></div>
                    </li>
                    <li class="col-3 col-6-md mb-2xl mb-l-md">
                        <div class="mask-card"><a href="javascript:;">
                                <img class="" src="../assets/images/products/product-10.png" alt="COLLAB ZONE">
                                <div class="mask-text">
                                    <h3 class="h3 h6-md mb-xs">COLLAB ZONE</h3>
                                    <h4 class="h4 h6-md">聯名企劃</h4>
                                </div>
                            </a></div>
                    </li>
                </ul>
            </section>
            <section class="container-lg py-5xl py-2xl-md mb-3xl mb-l-md inspiration">
                <h2 class="h2 h4-md mb-m">穿搭靈感</h2>
                <div class="inspiration-row overflow-x-auto-md flex-nowrap-md">
                    <div class="col-4">
                        <div class="inspiration-row flex-nowrap-md">
                            <div class="col-6"><img src="../assets/images/index/inspiration-1.png" alt=""></div>
                            <div class="col-6"><img src="../assets/images/index/inspiration-2.png" alt=""></div>
                            <div class="col-12"><img src="../assets/images/index/inspiration-3.png" alt=""></div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="inspiration-row flex-nowrap-md">
                            <div class="col-6"><img src="../assets/images/index/inspiration-4.png" alt="靈感穿搭圖"></div>
                            <div class="col-6"><img src="../assets/images/index/inspiration-5.png" alt="靈感穿搭圖"></div>
                            <div class="col-6"><img src="../assets/images/index/inspiration-6.png" alt="靈感穿搭圖"></div>
                            <div class="col-6"><img src="../assets/images/index/inspiration-7.png" alt="靈感穿搭圖"></div>
                            <div class="col-6"><img src="../assets/images/index/inspiration-8.png" alt="靈感穿搭圖"></div>
                            <div class="col-6"><img src="../assets/images/index/inspiration-9.png" alt="靈感穿搭圖"></div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="inspiration-row flex-nowrap-md">
                            <div class="col-12"><img src="../assets/images/index/inspiration-10.png" alt="靈感穿搭圖"></div>
                            <div class="col-6"><img src="../assets/images/index/inspiration-11.png" alt="靈感穿搭圖"></div>
                            <div class="col-6"><img src="../assets/images/index/inspiration-12.png" alt="靈感穿搭圖"></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>